# Dependencias
node_modules/

# Compilacion
dist/
dist-ssr/
*.tsbuildinfo

# Entorno: `.env` NUNCA se sube. `.env.example` si.
.env
.env.local
.env.*.local

# Editores
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log
